{% extends 'core/base.html' %}

 {% block content %}
    <div class="container mt-5 ">
        <h2 class="text-warning">Contact</h2>
        <hr class="text-warning">
        <div class="mt-5 text-white">
            <p>Lorem ipsum Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, aliquam? dolor sit amet consectetur adipisicing elit. Repellat quis ea veniam vel voluptatem delectus aut alias repudiandae vitae voluptas.</p>
            <div class="row">
            <div class="col-sm-9 mb-5">
                <form action="">
                    <div class="form-now">
                        <div class="row mt-5">
                            <div class="form-group col-md-6">
                                <label for="inputName">Your Name</label>
                                <input type="text" class="form-control" id="inputName">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail">Your Email</label>
                                <input type="email" class="form-control" id="inputEmail" >
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <label for="inputSubject">Your Subject</label>
                            <input type="text" class="form-control" id="inputSubject" >
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="inputTextarea">Your Message</label>
                            <textarea class="form-control" id="inputTextarea"></textarea>
                        </div>
                        <button class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-3 text-center mt-5">
                <ul class="list-unstyled">
                    <li class="mt-3">
                        <i class="fas fa-map-marker-alt fa-lg"></i>
                        <p>Hyderabad Sindh, Pakistan</p>
                    </li>
                    <li class="mt-3">
                        <i class="fas fa-phone-square-alt fa-lg"></i>
                        <p>+92 313 5399179</p>
                    </li>
                    <li class="mt-3">
                        <i class="fas fa-envelope fa-lg"></i>
                        <p>faizan.meo179@gmail.com</p>
                    </li>
                </ul>   
            </div>
            </div>   
        </div>
    </div>
    <div class="text-center">
        <i class="fab fa-twitter fa-lg mx-2 mb-4"></i>
        <i class="fab fa-linkedin-in fa-lg mx-2 mb-4"></i>
        <i class="fab fa-github fa-lg mx-2 mb-4"></i>
    </div>
    
    
    
    

 {% endblock content %}