{% extends 'core/base.html' %}

 {% block content %}
    <div class="mt-5 mx-5">
        <h2 class="text-warning">SKILLS</h2>
        <hr class="text-warning">
    </div>

    <div class="row mt-5 mx-5 text-white">
        <div class="col-sm-6 px-5">
            <h3>HTML-5</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="col-sm-6 px-5">
            <h3>CSS-3</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 85%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <div class="row mt-5 mx-5 text-white">
        <div class="col-sm-6 px-5">
            <h3>JavaScript</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 85%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="col-sm-6 px-5">
            <h3>Bootstrap</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 95%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <div class="row mt-5 mx-5 text-white">
        <div class="col-sm-6 px-5">
            <h3>React-JS</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 95%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="col-sm-6 px-5">
            <h3>Material-UI</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 85%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <div class="row mt-5 mx-5 text-white">
        <div class="col-sm-6 px-5">
            <h3>Python-3</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 90%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="col-sm-6 px-5">
            <h3>Django</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 95%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>

 {% endblock content %}